<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>All about us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing reiciendis eum maxime minima.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt magnam deleniti neque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, iste!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>